extends layout

block content
  h1= title
  p Welcome to #{data.city}
  form(action="/", method="get", id="weather_form")
    // name required for req.query not to be empty - getting the query object from the form
    input#weather(type="text", name="city")
  button(type="submit", form="weather_form", value="submit") Submit

  p= data.country

  each city in data.weatherList
    li
      span= city.dt
      span= city.main.temp_min
      span= city.main.temp_max
      span= city.main.humidity
      // array within array - access weather array
      each weather in city.weather
        p= weather.main
        p= weather.description
        p= weather.icon