extends layout

block content

  header.weather_head
    //if data.title
    //  h1= data.title
    //else
    //  h1= title


  section.weather_search
    form(action="/", method="get", id="weather_form")
      // name required for req.query not to be empty - getting the query object from the form
      label(for="weather")
        input#weather(type="search", name="city" placeholder="Search city for a weather forecast...")
    button(type="submit", form="weather_form", value="submit") Gimme the Ouezeur

  if data.err
    section.weather_block
      .weather_block.error
        div.weather_block.error.__message
          p=data.title
          p=data.err
  else
    section.weather_block
      h2.weather_block.title= data.city
      div.weather_block.details
        if data.list
          h3= data.country

          each weather in data.list
            li
              // returned from the map
              span= weather.date
              span /
              span= weather.temp
              // array within array - access weather array
              each info in weather.weather
                div
                  img(src='http://openweathermap.org/img/w/'+info.icon+'.png' alt="weather-icon" height="36" width="36")
                p= info.main
                p= info.description
        else
          h2 Use the search #{box} to get weather forecasts for any #{data} in the world

  //footer
  //  p This is the footer